{% extends 'base.html' %}

{% block title %}
Main
{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Pro</h4>
      </div>
      <div class="card-body">
          <input type="text" name="comment" id="comment" class="comment-rec" placeholder="Add comment">
        <button type="button" class="btn btn-lg btn-block btn-primary">Rec</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}